# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
logs/
data/
.cache/
*.csv
*.json
*.pkl
*.log
*.db
assets/temp/*
!assets/logo.png

# Test
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Docs
docs/_build/
